
.main-about{
  min-height: 100vh;          
  width: 100vw;               
  margin: 0;                  
  padding: 60px 40px;
  box-sizing: border-box;
  

  display: flex;              
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

  font-family: var(lato);
  background-color: #fafafa;
  text-align: center;
  color: #033340;
}

.main-about h1 {
  margin-top: 0;          
  margin-bottom: 40px;
  text-align: center;     
  font-size: 50px;
  font-weight: 700;
}
.main-about h2 {
  text-align:center;
  margin-top: 30px;
}
#CardImagenes h3 {
  font-size: 14px;      
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 6px;
}

#card-avatares{
  margin: 40px auto;
  padding: 20px;

  width: 70%;          
  max-width: 900px;    
  height: auto;        

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;

  text-align: center;
  color:#eff1f1;
  border-radius: 10px;
  background-color: #033340;

}

#GaleríaImagen{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    
}
#GaleríaImagen:hover{
    height: 100px;
    width: 100px;


}

#Logo-Github{
    width: 40px;
    height: 30px;
    border-radius: 60%;
}




