.error-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #033340;
  color: #eff1ef;
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.error-code {
    color: #00ed64;
    font-size: 96px;
  animation:
    zoomFade 0.8s ease-out,
    float 3s ease-in-out infinite;
}


.error-text {
  font-size: 24px;
  margin-bottom: 30px;
}

.error-button {
  text-decoration: none;
  background-color: #00ed64;
  color: #033340;
  padding: 14px 30px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
}

.error-button:hover {
  background-color: #00ed64;
}
