.footer {
  background-color: #033340;
  color: #eff1ef;
  padding: 10px 20px;   /* ⬅ menos padding */
  margin-top: 30px;;
}

/* CONTENEDOR */
.footer-container {
   display: grid;
  align-items: start;
  text-align: left;     /* ⬅ ya no centrado */
 
}

/* COLUMNAS */
.footer-box h4 {
  
  font-size: 15px;      /* ⬅ más chico */
}

.footer-box ul {
 margin: 5px 0;
  font-size: 15px;      /* ⬅ más chico */
}

.footer-box li {
  margin: 15px 0;
}

/* LOGO */
.logo-box {
  display:flex;
  align-items:end;
}

.footer-logo {
 width: 40px;              
  margin-bottom: 6px;
}

/* COPYRIGHT */
.footer-copy {
  border-top: 1px solid #eff1ef;
  margin-top: 8px;
  padding-top: 8px;
  text-align: center;
  font-size: 12px;  
}

/* DISPOSITIVO PEQUEÑO → 1 COLUMNA */
@media (max-width: 599px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}

/* DISPOSITIVO MEDIANO → 2 O 3 COLUMNAS */
@media (min-width: 600px) and (max-width: 899px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 🖥️ DISPOSITIVO GRANDE → 3 COLUMNAS */
@media (min-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }
}