.header-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-header);
}


.icono-home{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 60px;
}

.icono-home p{
    font-family: var(--fuente-principal);
    color: var(--color-fuentes);
    margin-top: 14px;
    font-size: x-large;
    font-weight: bolder;
}

.links-header{
    display: flex;
    gap: 40px;
    margin-right: 200px;

    
}

.nav-links{
    text-decoration: none;
    color: var(--color-fuentes);
    font-family: var(--fuente-principal);
    font-size: large;

}

.boton-home{
    margin-right: 80px;
}

.boton-ingreso{
    background-color: var(--bg-botones) !important;
    border: 1px solid var(--color-fuentes) !important;
}

.boton-ingreso:hover{
    background-color: antiquewhite !important;
    color: black;
}