
/* estilos presentacion */
.presentacion{
    background-image: url(../assets/img/bg-home.png);
    height: 500px;
    display: flex;
    align-items: center;      /* centra verticalmente */
    justify-content: space-between;
    padding: 105px;
    gap: 80px;          
}
.imagen-presentacion img {
  width: 430px;      /* tama帽o que vos quer茅s */
  max-width: 100%;   /* evita que se rompa en mobile */
  height: auto;      /* mantiene proporci贸n */
  margin-top: 25px;
 
}
.titulo{
    
  color: var(--bg-general);
  font-family: var(--fuente-principal);
  font-size: 60px;
  font-weight: 600;
  text-align: left
    
}

.titulo-presentacion{
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* texto arriba, bot贸n abajo */
  align-items: flex-start;        /* TODO a la izquierda */
  height: 100%;                   /* CLAVE para igualar botones */
  max-width: 600px;
}

.boton-presentacion{
    background-color: var(--bg-botones) !important;
    border: 1px solid var(--color-fuentes) !important;
    width: fit-content;
    margin-top: 30px;
    margin-left: 50px
    
}

.boton-presentacion .nav-links{
    font-size: x-large;
}

/* estilos zona media */

.seccion-media{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 15px;
}

.iconos-media{
    display: flex;
    gap: 150px;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
   
    
}

.icono-mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.icono-mid p{
    font-size: 30px;
    font-family: var(--fuente-principal);
    color: var(--color-fuentes);
    font-weight: 600;

}

.ejemplo-usos{
  display: flex;
  align-items: center;
  gap: 80px;               /*  misma separaci贸n siempre */
  margin: 100px 50px;
    
}  
.lista-ejemplos {
  max-width: 600px;
}
.ejemplo-usos img {
  width: 400px;
  border-radius: 4%;
  flex-shrink: 0;   /* evita que se achique */
}





.elementos-lista{
    font-size: 18px;
    font-family: var(--fuente-principal);
    color: var(--color-fuentes);
  
}


/* formulario */

#contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.contenedor-consulta{
   display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;                /* misma separaci贸n */
  margin-top: 60px;
}

.contenedor-consulta span{
     filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.formulario-consulta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    font-family: var(--fuente-principal);
    color: var(--color-fuentes)
    
    
}
.formulario-consulta button {
  margin-top: 20px; /* empuja el bot贸n abajo */
}

.cuadro-consultas{
    background-color: #033340;
    margin-top: 100px;
    padding: 30px;
    display: flex;
    gap: 150px;
    justify-content:center;
    font-family: var(--fuente-principal);
    color: var(--bg-botones);
    
}
