*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{

  --bg-general: #eff1f1;
  --bg-header: #eff1f1;
  --bg-footer:#033430;
  --bg-aside: #eff1f1;
  --bg-cards: #eff1f1;
  --bg-tablas: #f7f9fa;
  --bg-items-lista: #eff1f1;
  --bg-botones: #00ed64;
  --bg-header-tablas: #033430;
  --bg-hoover-botones: #033340;
  --bg-recuadros: #033430;
  --color-fuentes: #033430;
  --fuente-principal: 'lato', sans-serif;
  
 
 




}