.main-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
    

Form{
    width: 300px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
   
}



