.main-login{
    color: #033340;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    min-height: 100vh;
}
    

Form{
    color: #033340;
    width: 300px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
   
}



